{{>layouts/header}}

{{userId}}
<form id="joinForm" action="/api/recruits/{{id}}/join?userId={{userId}}" method="post">
    <button type="submit" style="font-size: 13px; color: #fff; background: #3b82f6; border: none; padding: 7px 16px; border-radius: 6px; font-weight: 500; cursor: pointer;">
        참가하기
    </button>
</form>
<div class="card-footer d-flex justify-content-between align-items-center bg-light">
    <a href="/recruits" class="btn btn-secondary">목록으로</a>

    <div class="d-flex gap-2">
        <a href="/recruits/{{id}}/edit?userId={{userId}}" class="btn btn-primary">수정하기</a>

        <a href="#" class="btn btn-danger" onclick="deleteRecruit({{id}}, '{{userId}}')"">삭제하기</a>
    </div>
</div>

{{>layouts/footer}}

<!-- 하단에 js 파일 import -->
<script src="/js/recruit.js"></script>